.main {
    background-image: linear-gradient(135deg, var(--primary-color2) 30%, var(--primary-color1) 35%);
}

.avata {
    width: 100%;
    min-height: calc(100vh - 50px);
    background-image: url(../img/avata.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 0 0 20px black;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.introduce {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(100% / 12);
}

.introduce__head {
    margin: 0;
    background-image: linear-gradient(0, var(--text-color), var(--primary-color2) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.3;
    color: transparent;
    text-transform: uppercase;
}

.introduce__desc {
    margin-top: 8px;
    font-size: 2.5rem;
    line-height: 1.6;
    color: var(--text-color);
}